<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   Just Pencil

   Created by ymy on 3/6/25.
   Copyright (c) 2025 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>이 앱은 사진을 촬영하여 캔버스에 삽입하는 기능을 제공합니다.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>이 앱은 사용자가 앨범에서 이미지를 선택하여 캔버스에 삽입할 수 있도록 합니다.</string>
</dict>
</plist>
